<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="br.usp.ime.coordinator.Coordinator" level="debug" />
<!--   <logger name="br.usp.ime.coordinator.CoordinatorTest" level="trace" /> -->
<!--   <logger name="br.usp.ime.memnode.Memnode" level="debug" /> -->
<!--   <logger name="br.usp.ime.memnode.MapDataStore" level="debug" /> -->
<!--   <logger name="br.usp.ime.memnode.SimpleLockManager" level="debug" /> -->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>